html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  .calc-frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    width: 500px;
    background-color: silver;
    border: 1px solid black;
    -moz-box-shadow:0 0 20px 5px #999;
    -webkit-box-shadow: 0 0 20px 5px #999;
    border-radius: 2%;

  }

  .calc-display{
    height: 15%;
    width: 90%;
    background-color: lightblue;
    margin-top: 1rem;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
  }


  #display-text{

    margin-left: 1rem;
    font-size: 40px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  button {
    font-size: 40px;
    font-weight: bolder;
    margin: 1px;
    -moz-box-shadow:0 0 5px 1px #999;
    -webkit-box-shadow: 0 0 5px 1px #999;
    border-radius: 5%;
    background-color: #505050;
    color: white;
      
  }

  #divide,
 #times,
 #minus,
#equals,
#plus
  {
 
    background-color: #FF9500 !important;
    font-size: 40px;
      
  }

  #clear,#empty1,#empty2
  {
 
    background-color: #D4D4D2 !important;
    font-weight: bolder;
    color: black;
      
  }

  #clear
  {
 
    font-size: 24px;
 
  }





  .button-frame {
    background-color: white;
    width: 440px;
    height: 540px;
    display:grid;
    grid-template-columns: repeat(4, 110px);
    grid-template-rows: repeat(5, 108px);
    margin:20px;
    border: 1px solid rgb(236, 233, 233);
   
  }
